body {
  font-family: 'Open Sans Condensed', sans-serif;
  background-color: #d3caaf;
}

h1 {
  font-family: 'Nunito Sans', sans-serif;
}

.sidebar-nav {
  margin-top: 20px;
  padding: 0;
  list-style: none;
}
